html{
    font-family: "Montserrat", sans-serif;

    scroll-behavior: smooth;

}

body{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: rgb(129, 129, 129);
}

header{
    background-color: rgb(243, 231, 231);
    padding-right: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


 
.logo-header{
    width: 15%;
}
.menu ul {
    display: flex;
    list-style-type:none ;
}
.menu li a{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
}
#introducao{
    display: flex;
    height: 250px;
    align-items: center;
}

.cesta{
    width: 300px;
}
#introducao div{
    width: 50%;
    padding-right:100px ;
    padding-left:100px ;
    margin-top: 50px;
}
#sobre-nos{
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(255,250,205) ; 
    height: 200px;
    display: flex;
    flex-direction: column;
    color: rgb(95, 93, 71);

}
#produtos{
    padding-left: 100px;
    padding-right:100px ;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;

}

#produtos h2{
    padding-bottom: 25px;
}

    .produtos-conteudos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;

    }
.produto{
    width: 200px;
    text-align: center;
}
footer{
    background-color: rgb(80, 76, 76);
    color: white;
    text-align: center;
    padding-top: 25px;
    margin: 0;
}

footer p{
    margin: 0;
}

.direitos-autorais{
    padding-top: 25px;
    padding-bottom: 25px;
}
 
#form-contato{
    width: 60%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.grupo{
    font-weight: bold;
    color: black;
}

.grupo input,
.grupo textarea{
  width: 100%;
  padding: 10%;
  border: 1px solid #ccc;
  border-radius: 5px; 
  background-color: #f9f9f9;
}

.grupo input:focus,
.grupo textarea:focus{
    border-color: rgb(165, 201, 189);
    outline: nome

}
#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}
 
#contato button{
    width: 100%;
    max-width: 400px;
    padding: 15px;
    font-size: bold;
    background-color: rgb(95, 88, 88);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3 ease;
    margin-top: 20px;
    margin-bottom: 20px;
}

#contato button:houver{
    background-color: rgb(255,250,205);
}

